body{
  margin: auto;
}

header, section,  nav, footer {
  font-family: sans-serif;
  /* border: 1px dotted #000; */
  /* padding: 10px; */
  /* margin: 10px; */
  overflow: hidden;
}


/* #col{
  float: left;
} */

/* #title-col{
  width: 450px;
  height: 225px;
  background-color: blue;
  display: block;
} */
/* #SiteTitle{
  display: block;
  height:100%;
  margin: auto;
} */

/* #left-col{
  width: 450px;
  height: 800px;
  background-color: red;
  margin-top: 5px;
} */

#content{
  background-color: blue;
  height: calc(100vh - 115px);
}

#sidebar{
  background-color: #E8E8E8;
  height: calc(100vh - 115px);
}

.ui.padded.grid{
  height: 100%;
}

#map{
  width: 100%;
  height: 100%;
  background-color: grey;
}

#header{
  height: 115px;
  width: 100%;
  background-color: #E8E8E8;
}

#logo{
  margin-top: 15px;
  width: 18%;
  height: 75%;
  background-color:pink;
}
#price-range{
  padding-top: 30px;
}

#locationID{
  font-size: 30px;
  margin-top: 10px;
}

#separator{
  border-radius: 10px;
  height: 10px;
  width: 200px;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

#titleFilterOptions{
  font-size: 15px;
}

#filterOption{
  padding-top: 20px;
}

#SiteLogo{
  height: 100%;
  width: 100%;
}
