#mobileLogo{
    margin-top: 15px;
    width: 25%;
    height: 75%;
  }

  #userLoginContent{
    height: calc(100vh - 115px);
    width: 100%;
    background-color: #E8E8E8;
  }

 #userinnerContent{
   margin: 2%;
   height:calc(100vh - 115px);
   width: 100%;
   background-color: white;
 }

  #userLoginPanel{
    border: 10px solid #5cacf0;
    margin-top: 4%;
    height: 60%;
    width: 350px;
    background-color: #E8E8E8;
  }

  #userIconLogin{
    padding-top: 20px;
    height:25%;
    width: 30%;
  }

  #usernameText{
    padding-top: 5%;
  }

  #passwordText{
    padding-top: 2%;
  }

  #submitButton{
    background-color: white;
  }

  #buttonPosition{
    padding-top: 10%;
    padding-bottom: 6%;
  }
  body {
 background-color:   #E8E8E8;
  }
  #Register{
    margin-top: : 100px;

  }
  #login{
    padding: 10px;

  }
  #Register {

    background-color: white;
  }
  #LoginButton {
    background-color: white;
  }
