<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FoodHub-T&C</title>
      <link rel="stylesheet" href="css/FoodHub.css">
      <link rel="stylesheet" href="semantic/dist/semantic.min.css">
	    <link rel="stylesheet" href="css/FoodHub-T&C.css">
  </head>

  <body>


    <div class="ui padded grid">
      <!-- <div class="right floated left aligned six wide column" id=LogoutButton>
          <div ="ui left floated button">
        <button class="ui active button">
          <a href="/Logout">
            <i class="sign out alternate icon"></i>
                Sign Out
        </button>
      </div>
    </div> -->

      <div id="header">
        <div id="mobileLogo">
            <img src= "Pictures/Logo.png" id="SiteLogo"/>
          </a>
        </div>
        <button class="ui active button">
          <a href="/Logout">
            <i class="sign out alternate icon"></i>
                Sign Out
        </button>
      </div>

      <div id="userinnerContent">
        <div style="height:100%; width:1005; border:1px solid #ccc; font:16px/26px Georgia, Garamond, Serif; overflow:auto;">
      <div  align ="center">
        <h1><b>TERMS AND CONDITIONS</b></h1>
      </div>
       <h2><b> 1. Introduction </b></h2>
       <h4>These Website Standard Terms and Conditions written on this webpage
         shall manage your use of this website. These Terms will be applied fully
         and affect to your use of this Website. By using this Website, you agreed
         to accept all terms and conditions written in here. You must not use this
          Website if you disagree with any of these Website Standard Terms and Conditions.
      Minors or people below 18 years old are not allowed to use this Website.</h4>


       <h2><b> 2. Intellectual Property Rights </b></h2>
       <h4>Other than the content you own, under these Terms, FoodHUB and/or
          its licensors own all the intellectual property rights and materials
          contained in this Website.
          You are granted limited license only for purposes of viewing the material
         contained on this Website.</h4>


        <h2><b> 3. Restrictions </b></h2>
        <h4>You are specifically restricted from all of the following</h4>
       <ul style="list-style-type:disc">
          <li><h5>publishing any Website material in any other media;</h5></li>
          <li><h5>selling, sublicensing and/or otherwise commercializing any Website material;</h5></li>
          <li><h5>publicly performing and/or showing any Website material;</li></h5>
          <li><h5>using this Website in any way that is or may be damaging to this Website;</li></h5>
          <li><h5>using this Website in any way that impacts user access to this Website;</li></h5>
          <li><h5>using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;</li></h5>
          <li><h5>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;</li></h5>
          <li><h5>using this Website to engage in any advertising or marketing.</li></h5>
      </ul>
       <h4>Certain areas of this Website are restricted from being access by you
       and FoodHUB may further restrict access by you to any areas of this Website,
      at any time, in absolute discretion. Any user ID and password you may have
      for this Website are confidential and you must maintain confidentiality as well.</h4>


     <h2><b> 4. Your Content </b></h2>
       <h4>In these Website Standard Terms and Conditions, “Your Content” shall
         mean any audio, video text, images or other material you choose to display
        on this Website. By displaying Your Content, you grant FoodHUB a non-exclusive,
        worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish,
          translate and distribute it in any and all media.</h4>
        <h4>Your Content must be your own and must not be invading any third-party’s
           rights. FoodHUB reserves the right to remove any of Your Content from
           this Website at any time without notice.</h4>


      <h2><b> 5. No warranties </b></h2>
         <h4>This Website is provided “as is,” with all faults, and FoodHUB express
             no representations or warranties, of any kind related to this Website
             or the materials contained on this Website. Also, nothing contained
              on this Website shall be interpreted as advising you.</h4>


      <h2><b> 6. Limitation of liability </b></h2>
         <h4> In no event shall FoodHUB, nor any of its officers, directors and
            employees, shall be held liable for anything arising out of or in any
            way connected with your use of this Website whether such liability is
            under contract.  FoodHUB, including its officers, directors and employees
            shall not be held liable for any indirect, consequential or special liability
             arising out of or in any way related to your use of this Website.</h4>


      <h2><b> 7. Indemnification </b></h2>
         <h4>You hereby indemnify to the fullest extent FoodHUB from and against
           any and/or all liabilities, costs, demands, causes of action, damages
          and expenses arising in any way related to your breach of any of the
          provisions of these Terms.</h4>


      <h2><b> 8. Severability </b></h2>
         <h4>If any provision of these Terms is found to be invalid under any
           applicable law, such provisions shall be deleted without affecting the
           remaining provisions herein.</h4>


      <h2><b> 9. Variation of Terms </b></h2>
           <h4>FoodHUB is permitted to revise these Terms at any time as it sees fit,
          and by using this Website you are expected to review these Terms on a
          regular basis.</h4>


      <h2><b> 10. Assignment </b></h2>
          <h4>The FoodHUB is allowed to assign, transfer, and subcontract its
            rights and/or obligations under these Terms without any notification.
            However, you are not allowed to assign, transfer, or subcontract any
            of your rights and/or obligations under these Terms.</h4>


      <h2><b> 11. Entire Agreement </b></h2>
          <h4>These Terms constitute the entire agreement between FoodHUB and you
             in relation to your use of this Website, and supersede all prior
             agreements and understandings.</h4>


      <h2><b> 12. Governing Law & Jurisdiction </b></h2>
          <h4>These Terms will be governed by and interpreted in accordance with
            the laws of the State of Michigan, and you submit to the non-exclusive
            jurisdiction of the state and federal courts located in Michigin for
             the resolution of any disputes.</h4>
      </div>
  </div>

  <div id="footer">
  </div>
</div>

  <script src="js/konami.js"></script>
</html>
