<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FoodHub-Login</title>
      <link rel="stylesheet" href="semantic/dist/semantic.min.css">
      <link rel="stylesheet" href="css/FoodHub.css">
	    <link rel="stylesheet" href="css/FoodHub-Login.css">
  </head>

  <body>

      <div id="header">
        <div id="mobileLogo">
            <img src= "Pictures/Logo.png" id="SiteLogo"/>

        </div>
      </div>
      <div class="middle aligned stacked segment">

  <center>
      <div class="ui stacked segment">
    <div id="LoginContent">
    <form action="/dologin" method="POST">

        <label id="login">Login</label>
        <div class="ui left icon input user icon">
          <input type="text" name="username" placeholder="username">
          <i class="user icon"></i>

      </div>

          <label id="login">Password</label>
            <div class="ui left icon input lock icon">
                <input type="password" name="password" placeholder="password">
                    <i class="lock icon"></i>
            </div>

          <!-- <div class="row"> -->
  <div class="ui grid centered" id="ButtonDisplaying">
    <div class="one grid">
      <button class="ui button" type="submit" id="LoginButton">
                  <i class="sign in alternate icon">  </i>
                      Log in</button>
    </div>

    </form>

    <br>

    <div class="one grid">
      <button class="ui button" id="Registe">
          <a href="FoodHub-Register">
              <i class="address card icon"></i>

                  Register
            </button>
          </div>
    </div>
  </div>
</div>
</div>
<!-- </div> -->
          <!-- <div id="userLoginPanel">
          <img src= "user-icon.png" id="userIconLogin"/>
            <h1 id="usernameText">Username</h1>
              <input type="text" id="usenameInput" name="Username" placeholder="Username">
            <h1 id="passwordText">Password</h1>
              <input type="password" id="passwordInput" name="Password" placeholder="Password">
            <div id="buttonPosition"><button class="ui button" id="submitButton">Submit</button></div>
          </div> -->
        </center>

    </div>
    <script type="text/javascript" src="semantic/dist/semantic.min.css"></script>
    <script type="text/javascript" src="js/FoodhubFunctionality.js"></script>
    <script src="\js\konami.js"></script>
  </body>

</html>
